<!-- IMPORT MODULE DETAIL -->
<!-- 

	Module : 	ExamList
	
	Links : 	ExamEdit
					/exams/{id}
.				
	
	Nesteds : 	
				
-->
<!-- /IMPORT MODULE DETAIL -->
<div ng-controller="ExamListController">
	
	<h1>ExamList</h1>
	
	<!-- SEARCH FORM -->
	<div class="well">
	    <form name="form_search" class="container-fluid">
			<div class="row">
				<div class="col-sm-3">
					<label for="title">Title</label>
				</div>
				<div class="col-sm-9 form-group" >
					<input type="text" ng-model="search.title" class="form-control" name="title" id="title" >
				</div>
			</div>
		</form>
	</div>
	
	<!-- TABLE -->
	<table class="table table-condensed table-striped table-bordered table-hover">
		<thead>
			<tr>
				<th>_id</th>
				<th>title</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in list | filter: {  title:search.title,  }">
				<td ng-bind="item._id" ng-link="/exams/{{item._id}}"></td>
				<td ng-bind="item.title"></td>
			</tr>
		</tbody>
	</table>
	
	<div class="mb-20" ng-if="list.$resolved && (list | filter :{   title:search.title,  }).length == 0">
        <b>No result found</b>
    </div>

	<!-- BUTTON -->
	<button class="btn btn-primary" ng-link="/exams/new">New</button>
	
</div>